body {
    background: lightgreen;
}

h1, ul {
    color: seagreen;
    font-family: 'Roboto Slab', serif;
}

p {
    color: seagreen;
    font-family: 'Montserrat', sans-serif;
}

footer {
    color: seagreen;
    text-align: center;
    padding-top: 50px;
}

a {
    color: green;
}
