body {
    background: gray;
}

h1, ul {
    color: darkgray;
    font-family: 'Roboto Slab', serif;
}

p {
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
}

footer {
    color: darkgray;
    text-align: center;
    padding-top: 50px;
}

a {
    color: black;
}